body {
    margin: 0;
    padding: 0;
}

.main-brandC {
    color: white;
    font-size: 24px;
    text-align: center;

}

Navbar {
    display: none;
}
.conteiner-flex
{
   
    overflow: auto;
    height: 20%;

}
.user-main-tab{
     overflow-y: scroll;
}
.add {
    /* margin-right: 20px; */
    display: flex;
    color: rgb(245, 10, 10);
    font-size: 5em;
    float: right;
    width: 25%;
    height: 100%;
    flex-direction: column;
 z-index: 1;
}

.text_add {
    display: block;
    color: aqua;
    clear: right;
    position: relative;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-items: center;
    flex-direction: column;

} 
.table_add{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form{
    display:block;
    width: 65%;
    height: 65%;
    overflow-y: auto;
    
}