:root {
  --font-size-table: 1.1em;
  --color-h1: turquoise;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 968px;
}
.comp-emp_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.comp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 50%;
  font-size: var(--font-size-table);
}
.section-empl {
  width: 50%;
}
.section-car {
  width: 90%;
}

.text-primary {
  font-size: 1.4em;
  width: 800px;
  margin-left: 10px;
  color:var(--color-h1);
  margin-bottom: 10px;
  height: 23px;
}
.container-table-comp {
  margin-left: 5px;

  font-size: var(--font-size-table);
}


