.clear-user-agent-styles table,
.clear-user-agent-styles thead,
.clear-user-agent-styles tbody,
.clear-user-agent-styles tfoot,
.clear-user-agent-styles tr,
.clear-user-agent-styles th,
.clear-user-agent-styles td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  /* vertical-align: inherit; */
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
body {
  font-size: large;
  text-align: left;
}

.main-cars {
  color: white;
  font-size: 24px;
  text-align: center;
}
.cars-table {
  table-layout: auto;
  /* width: 100%; */
}

.car-td:hover {
  background-color: aqua;
}
.car-td,
.car-id {
  background-color: rgba(246, 235, 235, 0.945);
  border-bottom: solid 2px rgb(14, 14, 14);
  border-right: solid 2px rgb(14, 14, 14);
  border-left: solid 1px rgb(75, 75, 74);
  border-top: solid 1px rgb(75, 75, 74);
  border-radius: 10px 0;
  text-align: center;
  vertical-align: center;
  width: 100px;
}
.car-id {
  text-align: left;

  /* display: cotents; */
  /* width: auto; */
}
.car-th {
  /* display: inline; */
  width: 100px;
}
.car-tr {
  display: flex;
  justify-content: space-between;
}
