

/* .user-tab {
  
    color: rgb(7, 7, 8);
    font-size: large;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 4px;
    margin-left: 20px;
    
}
.user-tab-th {
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: left;
    background-color: rgba(230, 152, 152, 0.678);
    border-radius: 4px;
    margin-left: 20px;
}
.user-label{
    color: rgba(8, 28, 31, 0.822);
    font-size: large;
    text-align: left;
    border-radius: 4px;
    margin-left: 50px;
   
}
.user-main-tab{
  color: rgba(22, 193, 223, 0.822);
  font-size: large;
  text-align: left;
  border-radius: 4px;
  margin-left: 50px;
  text-shadow: 5px 5px 8px #222121;

} */