:root {
  --color-h1: turquoise;
}

.container--add {
  color: var(--color-h1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 95%;
  margin: 10px auto 0;
}
.container_add--h1 {
  width: 100%;
  color: var(--color-h1);
}
.container_add--form {
  display: flex;
  width: 100%;
}
.container_add--input {
  width: 100px;
}
