.wrrop-div-offer{
    width: 60%;
    margin: 0 auto;
    /* margin-left: 100px; */
}
.section-department{
    width: 50%;
    margin-bottom: 20px;
}
.section-cars{
    width: 80%;
    margin: 0 auto;
}