.App{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body {
  background-size: cover;
  background-image: url('jpeg/background.jpg');
  background-repeat: no-repeat;
  /* background-color: black; */
}





